.about {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 6rem 0;
    .title {
      padding-bottom: 1rem;
    }

    .flex-container {
      padding-bottom: 4rem;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;

      .snapshot {
        flex-grow: 1;
        min-width: 350px;
        height: 400px;
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &__one {
          background-image: url("/dist/img/room-one-img-one.webp");
        }
        &__two {
          background-image: url("/dist/img/exterior.webp");
        }
        &__three {
          background-image: url("/dist/img/room-one-img-one.webp");
        }
        &__four {
          background-image: url("/dist/img/grill_house_interior.webp");
        }
      }

      .content {
        &__container {
          min-width: 350px;
          background-color: tomato;
          height: 400px;
          width: 50%;
          flex-grow: 2;
          &--title {
            text-align: center;
            padding: 1.4rem;
            font-size: 2rem;
          }
          &--details {
            font-size: 1.8rem;
            text-align: center;
            line-height: 4rem;
            padding: 1rem 1.4rem;
          }
        }
      }
    }
  }
}
