header {
  .img {
    @include hero-img;
  }
  .img-one {
    background-image: url("/dist/img/babia_gora.webp");
  }

  .img-two {
    background-image: url("/dist/img/grill_house_interior.webp");
  }

  .img-three {
    background-image: url("/dist/img/grill_house_interior_2.webp");
  }

  .shadow {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }

  h5 {
    font-size: 6rem;
  }

  p {
    font-size: 3rem;
  }

  h5,
  p {
    color: $pure-white;
  }
}
