@media (max-width: 1100px) {
  .contact {
    .container {
      .contact-data {
        margin-bottom: 20px;

        li {
          margin-bottom: 0;
        }

        .upper {
          padding-bottom: 20px;
        }

        &__one,
        &__two {
          width: 50%;
        }

        &__three {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .nav {
    .menu-item {
      margin: 0 5px;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    padding-right: 3rem;
    .menu-item {
      margin: 0 5px;
    }
  }

  .footer {
    .footer__box {
      width: 100%;

      &-title {
        text-align: center;
      }

      &-content {
        line-height: 3rem;
      }

      &-desktop {
        display: none;
      }

      &-social {
        text-align: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .pause {
    .hero-text {
      p {
        font-size: 4.6rem;
      }
    }
  }

  .nav {
    justify-content: center;
  }

  .menu-item {
    display: block;
  }

  .close-button {
    display: block;
    position: absolute;
    top: 1em;
    right: 4em;
  }


  .close-button:hover {
    cursor: pointer;
  }

  .hidden {
    transform: translate(100%);
  }
}
@media (max-width: 392px) {
  .pause {
    height: 300px;
    .hero-text {
      p {
        font-size: 4rem;
      }
    }
  }
}
