@media (max-width: 992px) {
  .nav {
    .menu-item {
      margin: 0 5px;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    padding-right: 3rem;
    .menu-item {
      margin: 0 5px;
    }
  }

  .footer {
   
    .footer__box {
      width: 100%;

      &-title {
        text-align: center;
      }
      
      &-content {
        line-height: 3rem;
      }

      &-desktop {
        display: none;
      }

      &-social {
        text-align: center;
      }
  }

}}
