.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: $pure-white;
  text-align: center;
  z-index: 101;
  padding-right: 5rem;
  position: fixed;
  flex-wrap: wrap;
  // height: 5rem;
  width: 100vw;
  opacity: 0.6;
  transition: 0.5s transform cubic-bezier(0.65, 0.05, 0.36, 1), 0.3s opacity;
  .menu {
    max-width: 75vw;
  }
  .logo {
    position: absolute;
    left: 40px;

    img {
      height: 5rem;
    }
  }
}

.nav:hover {
  opacity: 1;
}

// li {
//   list-style: none;
//   text-decoration: none;
//   font-size: 2rem;
//   color: $blue;
//   transition: 0.3s font-size, 0.3s color;
// }

.menu-item {
  display: inline-block;
  cursor: pointer;
  // line-height: 4rem;
  margin: 0 10px;
  transition: background-color 0.3s;
  z-index: 101;
}

.close-button {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  transition: color 0.3s, font-size 0.3s;
}

.nav-link:hover {
  font-size: 2.1rem;
  font-weight: bold;
  color: $blue;
}

.dropdown {
  position: absolute;
  width: 175px;
  line-height: 4rem;
}

.dropdown {
  li {
    display: none;
    font-weight: normal;
    opacity: 0;
    font-size: 1.6rem;
    background-color: $pure-white;
    transition: color 0.3s, font-size 0.3s;
  }
  a {
    color: black;
    text-decoration: none;
  }
}

.dropdown a:hover {
  font-size: 1.7rem;
  font-weight: bold;
  transition: color 0.3s, font-size 0.3s;
  color: $blue;
}

.menu-item:hover .dropdown li:nth-child(2) {
  animation-delay: 0.1s;
}
.menu-item:hover .dropdown li:nth-child(3) {
  animation-delay: 0.2s;
}
.menu-item:hover .dropdown li:nth-child(4) {
  animation-delay: 0.3s;
}
.menu-item:hover .dropdown li:nth-child(5) {
  animation-delay: 0.4s;
}
.menu-item:hover .dropdown li:nth-child(6) {
  animation-delay: 0.5s;
}

/* 2 menu animation */

.two:hover .dropdown li {
  display: block;
  animation: menu2 0.5s forwards;
}
