.room-presentation {
  .wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 6rem 3rem 4rem 3rem;
    .title {
      padding-bottom: 1rem;
    }

    .flex-container {
      padding-bottom: 4rem;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;

      .snapshot {
        background-image: url("../../dist/img/room-one-img-one.webp");
        flex-grow: 1;
        min-width: 250px;
        width: 30%;
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .content {
        &__container {
          min-width: 250px;
          width: 70%;
          padding: 3rem;
          flex-grow: 2;

          &--details {
            font-size: 2.4rem;
            text-align: center;
            line-height: 4rem;
          }

          &--price,
          &--call,
          &--email {
            color: $pure-white;
            font-size: 2rem;
            padding: 1rem;
            margin: 3rem 1rem 0 1rem;
            width: 30%;
            border-radius: 16px;
            background-color: $blue;
            display: inline-block;
            text-align: center;
          }
        }
      }
    }

    .pictogrammes {
      padding-bottom: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;

      table {
        height: 400px;
        min-width: 200px;

        th {
          padding: 2rem;
          font-size: 2rem;
        }

        .column {
          font-size: 2rem;
          max-width: 125px;
          padding-left: 1rem;
          overflow: hidden;
        }
        .column-1 {
          padding: 0 0 0 2rem;
        }
      }

      .material-icons {
        font-size: 5rem;
        color: $blue;
      }
    }

    .container {
      display: flex;
      width: 100%;
      padding: 4% 0;
      height: 100vh;
    }

    .box {
      flex: 1;
      overflow: hidden;
      transition: 0.5s;
      margin: 0 0.5%;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
      line-height: 0;
    }

    .box > img {
      width: 200%;
      height: calc(100% - 10vh);
      object-fit: cover;
      transition: 0.5s;
    }

    .box > span {
      font-size: 3.8vh;
      display: block;
      text-align: center;
      height: 10vh;
      line-height: 2.6;
    }

    .box:hover {
      flex: 1 1 50%;
    }
    .box:hover > img {
      width: 100%;
      height: 100%;
    }

    .background {
      width: 100%;
      height: 100%;
      background-color: black;
      transition: 0.3s color;
      opacity: 0.6;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-align: center;
        font-size: 2rem;
        color: $black;
      }
    }

    .background:hover {
      cursor: pointer;
      a {
        color: $pure-white;
      }
    }

    .other-rooms {
      &__description {
        text-align: center;
        padding: 2rem;
        font-size: 2rem;
        font-weight: bold;
      }

      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
      }

      &__link {
        margin: 0 0.2rem;

        &--one {
          background-image: url("../../dist/img/room1.webp");
          @include img-stylization;
        }
        &--two {
          background-image: url("../../dist/img/room2.webp");
          @include img-stylization;
        }
        &--three {
          background-image: url("../../dist/img/room3.webp");
          @include img-stylization;
        }
        &--four {
          background-image: url("../../dist/img/room4.webp");
          @include img-stylization;
        }
        &--five {
          background-image: url("../../dist/img/room5.webp");
          @include img-stylization;
        }
        &--six {
          background-image: url("../../dist/img/room6.webp");
          @include img-stylization;
        }
      }
    }
  }
}
