@import "./colors";
@import "./animations";
@import "./mixins";
@import "./media";
@import "./nav";
@import "./header";
@import "./amenities";
@import "./rooms";
@import "./opinions";
@import "./pause";
@import "./room_presentation";
@import "./contact";
@import "./about";
@import "./footer";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  // background-color: red;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s font-size, 0.3s color;
}

.highlight {
  display: inline-block;
  color: $blue;
}

.underline {
  width: 150px;
  height: 5px;
  background-color: $blue;
  margin: 0 auto 3rem auto;
}

.title {
  @include title-style;
}


.black-menu-btn {
  color: black;
}

.open-nav:hover {
  cursor: pointer;
}

@import './media';